body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.rounded-image {
    border-radius: 50%; /* Make the image circular */
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
}
