nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(31, 116, 196, 0.847);
    padding: 10px;
  }
  
  nav a {
    color: #fff; /* white text */
    padding: 10px 20px;
    border-bottom: 2px solid #eee; /* light gray border */
    text-decoration: none;
  }

  #item_one{
    border: #000;
  }

  #item_two{
    border-style: dashed;
  }

  #item_three{
    border-style: groove;
  }

  #item_four{
    border-style: double;
  }

  #item_five{
    border-style: dotted;
  }
  
  nav a:hover {
    color: #000;
  }